<div class="page">

  <mat-expansion-panel [expanded]="loginExpanded">

    <mat-expansion-panel-header color="primary">
      <mat-panel-title>Login</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card-content>

      <form #loginForm="ngForm" (ngSubmit)="submit()">
        <mat-form-field appearance="standard">
          <mat-label>userid</mat-label>
          <input matInput placeholder="userid" id="userid" name="userid" [(ngModel)]="model.userid" required>
        </mat-form-field>

        <br />
        <mat-form-field appearance="standard">
          <mat-label>password</mat-label>
          <input matInput placeholder="password" type="password" id="password" name="password"
            [(ngModel)]="model.password" required>
        </mat-form-field><br />

        <mat-action-row>
          <button mat-raised-button type="submit" [disabled]="loggedIn" class="btn btn-success">Login</button>
        </mat-action-row>
      </form>

    </mat-card-content>
  </mat-expansion-panel>

  <br />

  <mat-expansion-panel [expanded]="tokenExpanded">

    <div *ngIf="this.loggedIn">
      <mat-action-row>
        <button mat-raised-button (click)="logout()" color="warn" [disabled]="!loggedIn">Logout</button>
      </mat-action-row>
    </div>

    <mat-expansion-panel-header color="primary">
      <mat-panel-title>Token</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card-content>
      <div *ngIf="authTokens">
        <app-token [tokens]="authTokens"></app-token>
      </div>
    </mat-card-content>

  </mat-expansion-panel>

  <br />

  <mat-expansion-panel [expanded]="dataExpanded">

    <mat-expansion-panel-header color="primary">
      <mat-panel-title>Data</mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="this.loggedIn">
      <mat-action-row>
        <button mat-raised-button class="btn btn-success" (click)="get()">GET /get</button>
      </mat-action-row>
      <mat-card-content>
        <pre>
{{ data }}
    </pre>
      </mat-card-content>
    </div>
  </mat-expansion-panel>


</div>

<!--
-->